/* 
1. từ ngoài vào trong
2. từ trên xuống dưới
3. tổng quan đến chi tiết
 */

 /*
 1. vị trí
 2. kích thước
 3.màu sắc
 4. kiểu dáng (kiểu chữ, hình dáng(tròn vuông ,,,)) 
  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}

.col-full{
    width: 100%;
}

.col-third{
    width: 33.333333%;
}

.col-half{
    width: 50%;
}

.clear{
    clear: both;
}

.text-white{
    color: white !important;
}

.text-center{
    text-align: center !important;
}

.btn{
    background-color: #000;
    color: white;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}

.pull-right{
    float: right;
}

#main{
    
}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav,.subnav{
    list-style: none;
}

#nav li{
    display: inline-block;
    line-height: 46px;
    position: relative;
}

#nav>li>a{
    color: white;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav >li:hover >a,
#nav .subnav li:hover a{
    color: black;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 46px;
    left: 0px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li {
    display: block;
}

#nav .subnav a{
    padding: 0 16px;
}
#header .mobile-menu-btn{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
    
}

#header .menu-icon,
#header .fas{
    line-height: 46px;
    color: white;
    font-size: 20px;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #ff4433;
}
#header .mobile-menu-btn:hover {
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#slider{
    margin-top: 46px;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
    padding-top: 50%;
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: white;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 1px #000;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}

#content{
    
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
    
}

#content .section-heading{
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
}

#content .section-subheading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    text-align: justify;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.5;
}

#content .member-list{
    padding-top: 32px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
#content .member-name{
    font-size: 15px;
}



.tour-section{
    background-color: black;
}

.tickets-list{
    background-color: white;
    list-style: none;
    margin-top: 40px;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out{
    background-color: #f44336;
    padding: 3px 4px;
    color: white;
    margin-left: 16px;
}

.tickets-list .quantity{
    margin-top: -2px;
    float: right;
    background-color: black;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 24px;
}

/* place */
.place-list{
    margin-top: 16px;
}

.place-item{
    width: 33.333333%;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;   
    line-height: 1.4;
}



.btn:hover{
    background-color: #ccc;
    color: #000;
}

.modal.open{
    display: flex;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container{
    background: #fff;
    width: 900px;
    position: relative;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modalFadeIn ease 0.5s ;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover{
    background: #ccc;
    color: #000;
}

.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    letter-spacing: 4px;
}

.modal .modal-ic{
    margin-right: 16px;
    font-size: 30px;
}

.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;ss
}

.modal-input{
    padding: 15px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets{
    border: none;
    color: #fff;
    background: #009688;
    text-transform: uppercase;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
}

#buy-tickets:hover{
    color: #000;
    cursor: pointer;
    background: #ccc;
}

.ti-check{
    
}

.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: #2196f3;
}

/* contact */

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;

}
.contact-info a{
    color: #101aef;
    opacity: 0.7;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    
}

/* Map section */
.map-section img{
    width: 100%;
}

#footer{
    padding: 62px 16px;
    text-align: center;
}

.socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    padding: 0px 4px;
}

#footer .socials-list a:hover,
#footer .copyright a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}



@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}